@media screen and (max-width: 800px) {
  .container {
    padding: 0;
    padding-top: 5em;
  }
  .about {
    margin: 2em auto;
    text-align: center;
  }
  .about,
  .nav-before-after,
  .article-intro {
    padding: 0;
  }
  .nav-before-after {
    width: 85%;
  }

  .about h1 {
    font-size: 2.8em;
  }
  .about p {
    margin-top: 0;
  }

  .about h2 {
    margin-top: 0;
  }

  .button {
    margin-bottom: 2rem;
  }

  article h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
  }

  article {
    text-align: left;
  }

  .article-intro {
    max-width: 85%;
  }

  .article-description,
  .about {
    flex-direction: column;
    width: 85%;
  }

  .article-description div {
    width: 100%;
  }

  .article-description img {
    width: 100%;
    height: auto;
  }
  article ul {
    margin-left: 1em;
  }
  .gallery-blogs-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .post-container {
    width: 80%;
  }

  .post-container hr {
    margin: 0.3em 0;
  }

  .lateralBar div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .barContainer {
    width: inherit;
  }

  .lateralBar img {
    display: none;
  }

  .lateralBar h2 {
    margin: 1.5em 0;
  }

  footer {
    padding-top: 2em;
  }

  .aboutDescription {
    flex-wrap: wrap;
  }

  .aboutDescription img {
    max-width: 90%;
    margin: 1rem auto;
  }

  .projectsFlexDescription {
    width: 100%;
    margin: 1.5em;
  }

  .projectsFlex {
    padding-top: 0;
  }

  .projectsFlex .gallery-element {
    margin: 2em 0;
  }
  .gallery-element .image {
    width: 90%;
    height: auto;
  }
  .gallery-element img {
    width: 100%;
    height: auto;
  }

  .title-page-container {
    width: 90%;
    margin-top: 3em;
  }

  .article-description button {
    margin-bottom: 2em;
  }

  .article-description h3 {
    font-size: 14px;
    margin: 0;
  }
  .madeBy {
    position: fixed;
    transform: rotate(-90deg);
    bottom: 80px;
    left: -60px;
    text-align: left;
    opacity: 0.5;
  }
  .items-box {
    align-items: center;
    width: 80%;
  }
  .item {
    width: 80%;
  }
}
